@model TestViewModel
@*
    This view shows a test message along with the user's name and date of birth
*@
@{
    ViewData["Title"] = "Test View";
}


<h1>Hello From Test Controller</h1>
<h2>Your name is: @Model.Name</h2>

@if (Model.DateOfBirth.HasValue)
{
    <h2>Your DoB is: @Model.DateOfBirth</h2>
}